.back {
  margin: 5px;
}

.profile-link-title {
  margin: 5vw 5vw 10vw 5vw;
  font-family: 'ibm-plex-bold';
  font-size: 28px;
}

.link-input {
  width: 80vw;
  margin: 5vw 5vw 0 5vw;
  padding: 10px 5vw;
  border-style: none;

  font-family: 'aktiv-grotesk';
}

input.link-input:focus {
  width: 80vw;
  margin: 5vw 5vw 0 5vw;
  padding: 10px 5vw;
  outline-color: #01ED98;

  font-family: 'aktiv-grotesk';
}

.link-submit-btn {
  background-color: black;
  color: white;
  width: 90vw;
  margin: 5vw;
  padding: 9px;
  border-style: none;
  border-radius: 7px;

  font-family: 'ibm-plex-bold';
}

.pageSlider-entering {
  opacity: 0;
  /* transform: scale(1.1); */ 
  /* transform: translate3d(100%, 0,0); */
  transform: translateY(100%);
  background: white;
  animation-name: slidein 4s 1s;
  
}

.pageSlider-entered {
  opacity: 1;
  /* transform: scale(1);
  transition: opacity 300ms, transform 300ms; */
  transform: translate3d(0, 0,0);
  transition: all 500ms;
  background: white;
  animation-name: slidein 4s 1s;
}

.pageSlider-exiting {
  opacity: 1;
  /* transform: scale(1); */
  transform: translate3d(0, 0,0);
  background: blue;
}

.pageSlider-exited {
  opacity: 0;
  /* transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
  transform: translate3d(-100%, 0,0); */
  transition: all 700ms;
  background: purple;
}